.main {
}
.services {
  background: #222222;
  color: #ffffff;
  font-family: "SF Pro", Arial, Helvetica, sans-serif;
  padding: 100px 0;

  @media (max-width: 800px) {
    padding: 50px 0;
  }

  // .services__title

  &__title {
    font-weight: 500;
    font-size: 36px;
    line-height: 1.33;
    @media (max-width: 999px) {
      margin-bottom: 30px;
    }
  }

  // .services__list

  &__list {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
    margin-left: calc(42px / 580px * 100%);
    grid-row-gap: 42px;
    grid-column-gap: 10px;
    justify-content: space-between;

    @media (max-width: 999px) {
      margin-left: 0;
    }

    @media (max-width: 500px) {
      grid-template-columns: repeat(auto-fit, 100%);
      margin-left: 0;
    }
  }

  // .services__item

  &__item {
    flex: 250px;
  }

  // .services__item-svg

  & svg {
    margin-bottom: 24px;
  }

  // .services__name

  &__name {
    margin-bottom: 12px;
  }

  // .services__text

  &__text {
    font-size: 16px;
    line-height: 1.62;
    color: rgba(255, 255, 255, 0.62);
  }
}
